@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat";
}
.App {
  background-color: #d9d9d9;
  height: auto;
  width: auto;

  display: grid;
  grid-template-rows: 10vh auto;
}
.main-title-container {
  z-index: 2;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: #353535;
  grid-row: 1;
}
.main-body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  width: auto;
  position: relative;
  top: 10vh;
}
.preview-container {
  height: 10rem;

  background-color: rgb(209, 209, 209);
  border: 2px dashed black;
  margin: 1rem;
}
.edit-cv-container {
  background-color: #eeeeee;
  padding-left: 1rem;
  padding-top: 2rem;
  padding: 2rem 1rem 2rem 1rem;
  height: auto;

  box-shadow: 3px 3px 3px rgb(150, 150, 150);
  margin: 1rem;
  display: grid;
  grid-template-rows: auto;
}
.section-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
}
.section-heading-title {
  font-family: "Montserrat", monospace;
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 1rem 0rem;

  padding: 1rem 0rem 1rem 0.5rem;
}
.section-heading input[type="file"] {
  opacity: 0%;
  height: 1rem;
  width: 1rem;
}
.section-heading label {
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;

  height: 12rem;
  width: 12rem;
  border-radius: 10rem;
  background-color: #3c6e71;
  font-family: Montserrat;
  font-weight: bolder;

  color: rgb(216, 216, 216);
  font-size: 1.5rem;
  border: 5px dotted black;
}
.edit-cv-container input[type="text"],
input {
  height: 2.5rem;
  width: 55rem;

  margin: 0.2rem 0rem;
  border: 1px solid black;
  padding-left: 0.5rem;
}
.edit-cv-container textarea {
  padding-left: 0.5rem;
  resize: none;
  border: 2px solid black;

  height: 7rem;
  width: 55rem;

  font-family: "Montserrat";
  font-size: 1.2rem;
}
.work-exp-container * {
  margin: 0.5rem 0rem;
}

.work-exp-container .work-duration {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.work-exp-container .work-duration button {
  background-color: red;
  color: white;
  font-family: "Montserrat";
  font-weight: bolder;
  padding: 0.5rem 1rem;
  border: 3px solid black;
}
.work-exp-container .work-duration label {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: bolder;
}
.work-exp-container input[type="date"] {
  margin: 0rem 3rem;
  height: 2.5rem;
  width: fit-content;
  border: 3px solid rgb(114, 114, 114);
  background-color: rgb(218, 218, 218);
}
