@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

.App {
  background-color: #d9d9d9;
  height: auto;
  width: auto;
  display: grid;
  grid-template-rows: auto;
}
.main-title-container {
  z-index: 2;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: #353535;
  grid-row: 1;
}
.main-body-container {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  width: auto;
  position: relative;
  margin-top: 10vh;
}
