.edit-cv-container {
  background-color: #c4c4c4;
  padding-left: 1rem;
  padding-top: 2rem;
  padding: 2rem 1rem 2rem 1rem;
  height: fit-content;
  box-shadow: 3px 3px 3px rgb(150, 150, 150);
  margin: 1rem;
  display: grid;
  grid-template-rows: auto;
}
.options-container {
  display: flex;
  justify-content: center;
}
.options-container button {
  margin-right: 2rem;
}
.options-container button:hover {
  transform: scale(1.05);
  transition: 200ms;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  background-color: #f1f1f1;
}
#load-sample-button {
  background-color: rgb(191, 194, 0);
  color: white;
  font-family: "Montserrat";
  font-weight: bolder;
  padding: 0.5rem 1rem;
  border: 3px solid black;
  width: 10rem;
  justify-self: center;
  cursor: pointer;
  margin-bottom: 2rem;
}
#reset-button {
  background-color: rgb(194, 0, 0);
  color: white;
  font-family: "Montserrat";
  font-weight: bolder;
  padding: 0.5rem 1rem;
  border: 3px solid black;
  width: 10rem;
  justify-self: center;
  cursor: pointer;
  margin-bottom: 2rem;
}
.section-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0rem;
  margin-bottom: 4rem;
}
.section-heading-title {
  font-family: "Montserrat", monospace;
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 1rem 0rem;

  padding: 1rem 0rem 1rem 0.5rem;
}
.section-heading input[type="file"] {
  opacity: 0;
  height: 1px;
  width: 1px;
}
.section-heading label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;

  height: 12rem;
  width: 12rem;
  border-radius: 10rem;
  background-color: rgb(44, 49, 49);
  font-family: "Montserrat";
  font-weight: bolder;

  color: rgb(216, 216, 216);
  font-size: 1.5rem;
  border: 5px dotted black;
  margin-left: 6rem;
}
.edit-cv-container input[type="text"],
input {
  height: 2.5rem;
  width: 55rem;

  margin: 0.2rem 0rem;
  border: 1px solid black;
  padding-left: 0.5rem;
}
.edit-cv-container textarea {
  padding-left: 0.5rem;
  resize: none;
  border: 2px solid black;

  height: 7rem;
  width: 55rem;

  font-family: "Montserrat";
  font-size: 1.2rem;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0rem 5rem;
}
.button-container button {
  cursor: pointer;
  background-color: #333333;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.5rem;
  border: 3px dashed white;
  border-radius: 1rem;
  width: fit-content;
}
.button-container button:hover {
  background-color: #000000;
  transition: 500ms;
}
.work-exp-container {
  border-bottom: 3px solid black;
  animation: appear 400ms linear 0s 1 forwards;
}
.work-exp-container:not(:nth-of-type(1)) {
  margin-top: 3rem;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
  }
}
.work-exp-container * {
  margin: 0.5rem 0rem;
}
.duration {
  padding: 0rem 1rem;
}

.work-exp-container .duration {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.work-exp-container .duration button {
  background-color: rgb(194, 0, 0);
  color: white;
  font-family: "Montserrat";
  font-weight: bolder;
  padding: 0.5rem 1rem;
  border: 3px solid black;
}
.work-exp-container .duration button:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  transition: 500ms;
}
.work-exp-container .duration label {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: bolder;
}
.work-exp-container input[type="date"] {
  cursor: pointer;
  margin: 0rem 3rem;
  height: 2.5rem;
  width: fit-content;
  border: 3px solid rgb(114, 114, 114);
  background-color: rgb(218, 218, 218);
}

.education-container {
  border-bottom: 3px solid black;
  animation: appear 1s ease-in-out 0s 1 forwards;
}

.education-container:not(:nth-of-type(1)) {
  margin-top: 3rem;
}
.education-container * {
  margin: 0.5rem 0rem;
}

.education-container .duration {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.education-container .duration button {
  background-color: rgb(194, 0, 0);
  color: white;
  font-family: "Montserrat";
  font-weight: bolder;
  padding: 0.5rem 1rem;
  border: 3px solid black;
}
.education-container .duration button:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  transition: 500ms;
}
.education-container .duration label {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: bolder;
}
.education-container input[type="date"] {
  cursor: pointer;
  margin: 0rem 3rem;
  height: 2.5rem;
  width: fit-content;
  border: 3px solid rgb(114, 114, 114);
  background-color: rgb(218, 218, 218);
}

.success::after {
  font-size: 1rem;
  font-family: "Montserrat";
  margin-left: 1rem;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 255, 0, 0.13);
  border-radius: 1rem;
  content: "Added!";
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 1s ease 0s 1 normal forwards;
}
@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateX(3rem) scale(1.3);
  }
}
